*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(37, 37, 37);
  font-family: monospace;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(89, 89, 89);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width:20rem;
  color: rgb(254, 245, 245);
}